<!-- Hero -->
<section class="section-wrapper">
  {{ partial:main-hero }}
</section>

<!-- Image Quote -->
<section>
  {{ partial:office-image }}
</section>

<!-- Skills and Services -->
<section class="section-wrapper secondary-background">
  {{ partial:skills }}
</section>


<section class="section-wrapper-sm green-background">
  {{ partial:quote }}
</section>

<section class="section-wrapper secondary-background">
  {{ partial:how-we-work }}
</section>

<section class="section-wrapper dark-background">
  {{ partial:work-with-you }}
</section>
