$primary-color: #d2383f;
$secondary-color: #fff;
$dark-color: #3d3e44;
$darker-color: #29292c;
$light-grey-color: rgba(61,62,68,0.3);
$grey-color: #5a5b60;
$yellow-color: #ff931e;
$blue-color: #177be3;
$green-color: #18b290;
$darker-grey-color: #494a51;
$medium-grey-color: #b5b5c0;
