<h1 class="primary-text">Our People</h1>
<p>You're in good hands. Code MENA has been blessed with the support of Jordan's finest leaders in technology, design, and business development.</p>
<ul class="icon-list">
  <li class="icon-item">
    <h2 class="uppercase-header-sm dark-text">Advisory Board</h2>
    <p>Our advisory board includes an array of current and former ministers, enterprise executives, elite technologists, and serial entrepreneurs.</p>
    <ul class="skill-list padded-list">
      <li>
        <a href="https://www.linkedin.com/in/majd-shweikeh-3975655/">H.E. Majd Shweikeh</a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/marwan-juma-909b5816/">H.E. Marwan Jumaa</a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/zaid-farekh-b7819713/">Zaid Farekh</a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/yousefwadi/">Yousef Wadi</a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/hamdi-tabbaa-80210913/">Hamdi Tabbaa Jr.</a>
      </li>
    </ul>
  </li>
  <li class="icon-item">
    <h2 class="uppercase-header-sm dark-text">Team</h2>
    <p>Our core team includes a healthy mix of veteran engineers, award-winning artists, Harvard graduates, and college dropouts. Come by and <a href="mailto:hello@loz.io">meet us!</a></p>
    <ul class="skill-list padded-list">
      <li>
        <span class="tiny-text-uppercase blue-text">Chief Executive Officer</span>
        <br>
        <a href="https://www.linkedin.com/in/omarrida/">Omar Rida</a>
      </li>
      <li>
        <span class="tiny-text-uppercase blue-text">Chief Operating Officer</span>
        <br>
        <a href="https://www.linkedin.com/in/hashem-tarek-tabbaa-a5462210b/">Hashem Tabbaa</a>
      </li>
      <li>
        <span class="tiny-text-uppercase blue-text">VP Engineering</span>
        <br>
        <a href="https://www.linkedin.com/in/moealmaw/">Mohammad Al-Mawali</a>
      </li>
      <li>
        <span class="tiny-text-uppercase blue-text">Marketing Director</span>
        <br>
        <a href="https://www.linkedin.com/in/hiba-al-bustami-46690b46/">Hiba Bustami</a>
      </li>
      <li>
        <span class="tiny-text-uppercase blue-text">Art Director</span>
        <br>
        <a href="https://www.hibashahzada.com">Heba Shahzada</a>
      </li>
      <li>
        <span class="tiny-text-uppercase blue-text">Creative Design Director</span>
        <br>
        <a href="#">Nadeen Amer</a>
      </li>
    </ul>
  </li>
</ul>
