<div class="section-wrapper dark-background top-diff">
  <ul class="navigation-groups">
    <li class="navigation-group">
      <h3 class="navigation-group-title secondary-text">Get Started</h3>
        <ul class="navigation-list">
          <li>
            <a href="mailto:hello@loz.io">Hire us</a>
          </li>
          <li>
            <a href="mailto:hello@loz.io">Free consultation</a>
          </li>
        </ul>
    </li>
    <li class="navigation-group">
      <h3 class="navigation-group-title secondary-text">Services</h3>
        <ul class="navigation-list">
          <li>
            <a target="_blank" href="https://developer.apple.com/">iOS</a>
          </li>
          <li>
            <a target="_blank" href="https://developer.android.com/index.html">Android</a>
          </li>
          <li>
            <a target="_blank" href="https://facebook.github.io/react-native/">React Native</a>
          </li>
          <li>
            <a target="_blank" href="https://unity3d.com/">Unity</a>
          </li>
          <li>
            <a target="_blank" href="https://www.foundry.com/industries/virtual-reality/vr-mr-ar-confused">AR & VR</a>
          </li>
          <li>
            <a target="_blank" href="https://www.creativebloq.com/web-design/steps-perfect-website-layout-812625">Websites & CMS</a>
          </li>
          <li>
            <a target="_blank" href="https://statamic.com/">Statamic</a>
          </li>
          <li>
            <a target="_blank" href="https://laravel.com/">Laravel</a>
          </li>
          <li>
            <a target="_blank" href="http://rubyonrails.org/">Ruby on Rails</a>
          </li>
          <li>
            <a target="_blank" href="http://spring.io/">Spring MVC</a>
          </li>
          <li>
            <a target="_blank" href="https://reactjs.org/">React</a>
          </li>
          <li>
            <a target="_blank" href="https://vuejs.org/">Vue</a>
          </li>
        </ul>
    </li>
    <li class="navigation-group">
      <h3 class="navigation-group-title secondary-text">Learn</h3>
        <ul class="navigation-list">
          <li>
            <a target="_blank" href="https://medium.com/@loz">Blog</a>
          </li>
          <li>
            <a target="_blank" href="http://www.gv.com/sprint/">Design Sprint Guide</a>
          </li>
          <li>
            <a target="_blank" href="https://thoughtbot.com/playbook">Playbook</a>
          </li>
          <li>
            <a target="_blank" href="https://facebook.com/loz.io/events">Events</a>
          </li>
        </ul>
    </li>
    <li class="navigation-group">
      <h3 class="navigation-group-title secondary-text">Locations</h3>
        <ul class="navigation-list">
          <li>
            <a target="_blank" href="http://www.businesspark-jo.com/en-us/">Amman, Jordan</a>
          </li>
          <li>
            <a target="_blank" href="http://www.dic.ae/">Dubai, UAE (Coming Soon!)</a>
          </li>
        </ul>
    </li>
    <li class="navigation-group">
      <h3 class="navigation-group-title secondary-text">Contact</h3>
        <ul class="navigation-list">
          <li>
            <a href="mailto:hello@loz.io">hello@loz.io</a>
          </li>
          <li>
            <a href="te:+962796222296">JO: +962 7 96 2222 96</a>
          </li>
          <li>
            <a href="#">UAE: +44 (0)20 3807 0560</a>
          </li>
          <li>
            <a href="+17325007111">US: +1 (732) 500 7111</a>
          </li>
        </ul>
    </li>
    <li class="navigation-group">
      <h3 class="navigation-group-title secondary-text">Stay in Touch</h3>
        <ul class="navigation-list">
          <li>
            <a target="_blank" href="https://facebook.com/loz.io">Facebook</a>
          </li>
          <li>
            <a target="_blank" href="https://twitter.com/loz.io">Twitter</a>
          </li>
          <li>
            <a target="_blank" href="https://instagram.com/loz.io">Instagram</a>
          </li>
        </ul>
    </li>
    <li class="navigation-group">
      <h3 class="navigation-group-title secondary-text">Join Our Team</h3>
        <ul class="navigation-list">
          <li>
            <a href="mailto:jobs@loz.io">UX/UI Designer</a>
          </li>
          <li>
            <a href="mailto:jobs@loz.io">Front End Developer</a>
          </li>
          <li>
            <a href="mailto:jobs@loz.io">Back End Engineer</a>
          </li>
          <li>
            <a href="mailto:jobs@loz.io">Blockchain Specialist</a>
          </li>
          <li>
            <a href="mailto:jobs@loz.io">Marketing Associate</a>
          </li>
          <li>
            <a href="mailto:jobs@loz.io">Account Manager</a>
          </li>
        </ul>
    </li>
  </ul>
  <p class="text-center secondary-text">Made with <i class="fa fa-heart" aria-hidden="true"></i> in Amman, Jordan</p>
</div>
