<h1 class="primary-text">Small teams help maintain higher sprint velocities.</h1>
<p style="dark-text paragraph-primary">You’ll be working with a small, dedicated team of designers and engineers hand-picked for your project. Team members tackle one project at a time to stay laser-focused. Slack, Trello, and GitHub help us collaborate effectively across borders.</p>
<ul class="icon-list">
  <li class="icon-item">
    <h2 class="uppercase-header-sm green-text">How we like to work</h2>
    <ul class="bulleted-list-primary">
      <li>
        In teams smaller than five
      </li>
      <li>
        In one-week sprints
      </li>
      <li>
        At a sustainable velocity
      </li>
      <li>
        With open communication
      </li>
      <li>
        In sync with project conditions
      </li>
      <li>
        Following the <a target="_blank" href="https://thoughtbot.com/playbook" class="primary-text">Thoughtbot Playbook</a>
      </li>
    </ul>
  </li>
</ul>
