<div class="jumbotron jumbotron-fluid transparent">
    <h1 class="display-5 secondary-text">Let's relieve your users' pain together.</h1>
    <hr class="my-4">
    <p class="secondary-text">We're a software design and development agency that specializes in building custom software products specifically designed for the Arab World.</p>
    <p class="secondary-text">See how we can help you build your dream.</p>
    <a class="button-primary" href="mailto:hello@audiogram.me">Get a free consultation</a>
</div>
