<h2 class="uppercase-header-sm green-text">Our Values</h2>
<h3 class="h3-formatted dark-text">Self-Management</h3>
<p>We are able to manage ourselves and don't need someone to tell us what to do in order to be productive. Taking the initiative on our own, inciting change, and showing immediate results is what we do. Taking action independently doesn't mean we do everything alone. Rather, that we know when to collaborate, and when to ask for help.</p>
<h3 class="h3-formatted dark-text">Fulfillment</h3>
<p>We maintain an where we can thrive professionally and personally. Sustainable productivity and full lives outside of work help keep us fresh. Maintaining diverse team with varying experiences, skills, and perspectives allows us to tackle a wide range of projects.</p>
<h3 class="h3-formatted dark-text">Continuous Improvement</h3>
<p>We recognize that we can always be better. Therefore, we constantly work to improve ourselves, the company, and our community. This week should be better than last, and we should be optimistic that next week will be better than this week. We learn new things, and share those things with our peers and community.</p>
<p>While continually working to make things better, we prefer long-term viability over near-term shortcuts. It is more important that the organization exist in five years than it is that we make an extra dollar this year.</p>
<h3 class="h3-formatted dark-text">Trust</h3>
<p>We expect the best from each other, give each other the benefit of the doubt, encourage each other to take initiative to improve ourselves and the company, and provide direct and constructive help to each other.</p>
<p>We show trust and respect for each other by telling the truth, and demonstrate honesty and integrity in our actions.</p>
<p>We avoid having private conversations about each other or clients. Instead, we talk in person, and use tools such as Slack, Basecamp, and GitHub to communicate openly within a project, within thoughtbot, and publicly.</p>
<p>We want to be able to choose our own tools and bring a respected voice to the way our projects are run. We are not in the room to take orders, we're in the room to collaborate and solve problems. We insist on working for clients who trust our role and experience.</p>
<p>We prefer transparency of information whenever possible.</p>
<p>We do all of this while maintaining the privacy and confidentiality that every person deserves.</p>
<h3 class="h3-formatted dark-text">Quality</h3>
<p>We create working, maintainable, and understandable software that is enjoyable and easy to use. We improve the quality of the process and the client's environment. Beyond that, designing and building quality software means improving the security, privacy, and accessibility of the product, and includes improvements of life and reduction of harm for all users and contributors.</p>
