<h1 class="primary-text">We can help drive you from 0 to 1.</h1>
<p style="dark-text paragraph-primary">Launching a product in the MENA region is not easy; finding talent that understand and share your vision is <a href="/mission">a mission</a> unto itself. We can help with that.</p>
<ul class="icon-list">
  <li class="icon-item">
    <h2 class="uppercase-header-sm yellow-text">Ideation</h2>
    <ul class="skill-list">
      <li>
        <a href="https://startupnation.com/start-your-business/small-business-expert-advice/conduct-market-research/">Market Research</a>
      </li>
      <li>
        <a target="_blank" href="http://www.gv.com/sprint/">Design Sprints</a>
      </li>
      <li>
        <a target="_blank" href="https://en.wikipedia.org/wiki/User_experience_design">UX/UI Design</a>
      </li>
      <li>
        <a target="_blank" href="https://www.interaction-design.org/literature/topics/mobile-ux-design">Mobile Design</a>
      </li>
      <li>
        <a target="_blank" href="https://en.wikipedia.org/wiki/A/B_testing">A/B Testing</a>
      </li>
    </ul>
  </li>
  <li class="icon-item">
    <h2 class="uppercase-header-sm primary-text">Mobile Design and Development</h2>
    <ul>
      <li>
        <a target="_blank" href="https://developer.apple.com/">iOS</a>
      </li>
      <li>
        <a target="_blank" href="https://developer.android.com/index.html">Android</a>
      </li>
      <li>
        <a target="_blank" href="https://facebook.github.io/react-native/">React Native w/ Expo</a>
      </li>
      <li>
        <a target="_blank" href="https://unity3d.com/">Unity</a>
      </li>
      <li>
        <a target="_blank" href="https://www.foundry.com/industries/virtual-reality/vr-mr-ar-confused">AR & VR</a>
      </li>
    </ul>
  </li>
  <li class="icon-item">
    <h2 class="uppercase-header-sm blue-text">Web Design and Development</h2>
    <ul>
      <li>
        <a target="_blank" href="https://www.creativebloq.com/web-design/steps-perfect-website-layout-812625">Websites & CMS</a>
      </li>
      <li>
        <a target="_blank" href="https://statamic.com/">Statamic</a>
      </li>
      <li>
        <a target="_blank" href="https://laravel.com/">Laravel</a>
      </li>
      <li>
        <a target="_blank" href="http://rubyonrails.org/">Ruby on Rails</a>
      </li>
      <li>
        <a target="_blank" href="http://spring.io/">Spring MVC</a>
      </li>
      <li>
        <a target="_blank" href="https://reactjs.org/">React</a>
      </li>
      <li>
        <a target="_blank" href="https://vuejs.org/">Vue</a>
      </li>
    </ul>
  </li>
  <li class="icon-item">
    <h2 class="uppercase-header-sm green-text">Growth and Acceleration</h2>
    <ul>
      <li>
        <a target="_blank" href="https://blog.kissmetrics.com/guide-to-customer-acquisition/">User Acquisition</a>
      </li>
      <li>
        <a target="_blank" href="https://www.sequoiacap.com/article/pricing-your-product/">Activation and Retention</a>
      </li>
      <li>
        <a target="_blank" href="https://ymedialabs.com/mobile-app-analytics/">Usage Analytics</a>
      </li>
      <li>
        <a target="_blank" href="https://en.wikipedia.org/wiki/Content_marketing">Online Presence & Content</a>
      </li>
      <li>
        <a target="_blank" href="http://firstround.com/review/Employee-Onboarding-at-Startups-Is-Broken-Heres-How-to-Fix-It/">Crash Reporting and Feedback</a>
      </li>
      <li>
        <a target="_blank" href="http://firstround.com/review/Employee-Onboarding-at-Startups-Is-Broken-Heres-How-to-Fix-It/">Notification Strategy</a>
      </li>
      <li>
        <a target="_blank" href="https://fundingsage.com/startup-funding-rounds-and-the-funding-life-cycle/seed-stage/">Investment</a>
      </li>
    </ul>
  </li>
</ul>
<!--<a class="button-secondary" href="/services">More on our services</a>-->
